header{
    width: 100%;
    height: 70px;
    backdrop-filter: blur(8px);
    display: flex;
    position: sticky;
    left: 0;
    top: 0;

    .navbar{
        display: flex;
        align-items: center;
        justify-content: space-between;

        .login-btn{
            

            &:hover{
                color: black;
            }
           
        }


    

        .nav-logo{
            display: flex;
            align-items: center;
            gap: 10px;
            h2{
                color: inherit;
            }
        }
        .nav-link .header-list :hover{
            color:blue;
            border-bottom: 2px solid;
        }
        .nav-link .header-list{
            text-decoration: none;
            transition: all 0.6s linear;
        }
    }
    .nav-link{
        display: flex;
        .header-list{
            display: flex;
            align-items: center;
            gap: 20px;
            border-bottom: 2px solid none;
            button{
                width: 95px;
                height: 38px;  
                border: none; 
                cursor: pointer;
                border-radius: 5px;
                background-color: #02897A;
                color: #FFFF;
            }
            #nav-button{
                width: 95px;
                height: 38px;
                border: 1px solid;
                background: transparent;
                border-radius: 5px;
                color: inherit;
            }
        }
    }
       
}


.header__shrink{
    box-shadow: 0px 0px 2px 3px;
}